@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@font-face {
  font-family: "GothamPro";
  src: url("../../assets/fonts/GothamPro/GothamPro-BlackItalic.eot");
  src: url("../../assets/fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
       url("../../assets/fonts/GothamPro/GothamPro-BlackItalic.woff") format("woff"), 
       url("../../assets/fonts/GothamPro/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
