@import "../../styles/variables.scss";

// ======= Section =======
.section {
  &_marg {
    margin-top: 10rem;
  }
}
// ======= Wrapper =======
.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: $lg) {
    flex-direction: column;
    align-items: center;
  }
}
// ======= Inner ======
.inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $lg) {
    justify-content: space-evenly;
  }

  &_marg {
    margin-top: 3.75rem;
  }
}
// ======= bg ======
.bg {
  position: absolute;
  top: -15rem;
  right: 0;

  overflow: hidden;

  @media (max-width: $lg) {
    display: none;
  }

  &__text {
    -webkit-text-stroke: 1px $main-bg-color;

    color: transparent;

    font-family: $main-font;
    font-size: 8.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0em;

    margin-right: -10%;
  }
}
