@import '../../styles/variables.scss';

// ======= Section =======
.section {

  &_marg {
    margin-top: 10rem;
  }
}
// ======= Wrapper =======
.wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
// ======= Inner ======
.inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &_marg {
    margin-top: 3.75rem;
  }
}
// ======= bg ======
.bg {
  position: absolute;
  top: -80%;
  right: -10%;

  -webkit-text-stroke: 1px $main-bg-color;

  color: transparent;

  font-family: $main-font;
  font-size: 8.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0em;
}