@import './components/reset';
@import './components/fonts';
@import './variables.scss';

*,*::after,*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $main-font;
  color: $dark-theme-font-color;
  
  background: $main-bg-color;
}

.container {
  width: 100%;
  max-width: 1139px;

  margin: 0 auto;
  padding: 0 15px;

  &_big {
    max-width: 1335px;
  }

  &_pos-r {
    position: relative;
  }
}
