// ======= Colors ======
$black: #000;
$white: #fff;
$gray: #757575;
// ======= Backgrounds ======
$main-bg-color: $black;
$secondary-bg-color: $white;
// ======= Decor color ======
$main-decor-color: #e7490f;
$transparent-orange-color: rgba(231, 73, 15, 0.7);
$home-bg-color: #030305;
$card-line-color: $black;
// ======= Circles ======
$color-of-light: rgba(231, 73, 15, 0.4);
// ======= Header ======
$header-bg-color: rgba(0, 0, 0, 0.9);
// ======= Borders ======
$border-color: $gray;
// ======= Svg ======
$dark-theme-svg-color: $white;
// ======= Fonts ======
// ======= Colors
$dark-theme-font-color: $white;
$light-theme-font-color: $black;
$gray-font-color: $gray;
$transparent-gray-font-color: rgba(196, 196, 196, .2);
// ======= Font Family
$main-font: "Lato", sans-serif;
/* Regular, Bold,  */
$secondary-font: "GothamPro", sans-serif;
/* Black  */
// ======= Modal ======
$modal-bg: rgba(0, 0, 0, 0.5);
$transparent-gray-color: rgba(196, 196, 196, 0.5);
// ======= Warning ======
$warning-color: #ee0000;
// ======= Slide arrow ======
$slide-arrow-bg-color: rgba(255, 255, 255, 0.1);

// ========= Sizes  ========
$home-min-height: 66vh;

$xxl: 1451px;
$xl: 1221px;

$lg: 1025px;
$md: 900px;
$small: 768px;
$extra-small: 548px;