// ======= Colors ======
$black: #000;
$white: #fff;
$gray: #757575;
// ======= Backgrounds ======
$main-bg-color: $black;
$secondary-bg-color: $white;
// ======= Decor color ======
$main-decor-color: #E7490F;
$transoarent-orange-color: rgba(231, 73, 15, .7);
$home-bg-color: #030305;
// ======= Header ======
$header-bg-color: rgba(0,0,0, .9);
// ======= Borders ======
$border-color: $gray;
// ======= Svg ======
$dark-theme-svg-color: $white;
// ======= Fonts ======
// ======= Colors
$dark-theme-font-color: $white;
$light-theme-font-color: $black;
$gray-font-color: $gray;
// ======= Font Family
$main-font: 'Lato', sans-serif;
/* Regular, Bold, Black */
$secondary-color: 'GothamPro', sans-serif;
// ======= Modal ======
$modal-bg: rgba(0,0,0, .5);
$transparent-gray-color: rgba(196, 196, 196, .5);
// ======= Warning ======
$warning-color: #EE0000;
// ======= Slide arrow ======
$slide-arrow-bg-color: rgba(255,255,255, .1);

// ========= Sizes  ========
$home-min-height: 66vh;