@import '../../styles/variables.scss';

// ======= Img ======
.img {
  width: 100%;
  max-width: 445px;
  padding-top: 28%;

  position: relative;

  &::before {
    content: "";
    width: 100%;
    max-width: 151px;
    height: 60%;

    background-image: url("data:image/svg+xml,%3Csvg width='151' height='195' viewBox='0 0 151 195' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M151 0V44.7196H45.7095V195H5.28021e-06V44.7196V41.1337V0H151Z' fill='%23E7490F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    bottom: -40px;
    right: -40px;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 344px;
    height: 344px;

    border-radius: 50%;
    background: $color-of-light;
    filter: blur(230px);

    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
  }

  &__img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    object-position: center;
  }
}
