@import "../../styles/variables.scss";

.form {
  width: 100%;

  // ======= Modifiers ======
  &_marg {
    margin-top: 3.5rem;
  }

  // ======= Elements ======
  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 3.75rem;
  }
}
