@import "../../styles/variables.scss";

.bg {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;

  &__img {
    max-width: 100%;
  }
}
// ======= Section ======
.section {
  &_marg {
    margin-top: 8rem;
  }
}
// ======= Wrapper ======
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $lg) {
    flex-direction: column;
  }

  &_pad {
    padding-bottom: 19.4%;
  }
}


